<div style="background:#fff; font-family:'Segoe UI', 'Microsoft YaHei', 'Heiti SC'; margin:0; padding:0; width:100%;">
<table align="center" width="625" cellspacing="0" cellpadding="0" border="0">
    <tbody>
        <tr>
            <td style="padding: 0 0 35px; text-align: left; max-height: 40px;">
                <img src="{{ base_url }}/static/img/Logo.png" alt="Logo" style="max-height: 40px;" />
            </td>
        </tr>
        <tr>
            <td style="color: #03a9f4; font-size: 30px; padding: 0 0 10px;">
                Reset Your Password
            </td>
        </tr>
        <tr>
            <td style="color: #484848; font-size: 18px; line-height: 24px; padding: 0 30px 35px 0;">
                We have received a password reset request for your SPF account ({{ username }}).<br><br>
                If you did not ask to reset your password, then you can ignore this email and your password will not be changed. The link below will remain active for 24 hours.
            </td>
        </tr>
        <tr>
            <td>
                <a href="{{ base_url }}/accounts/reset-password?email={{ email }}&token={{ token }}" style="background-color: #03a9f4; color: rgba(255,255,255,.84); border-radius: 2px; position: relative; padding: 12px 30px; margin: 10px 1px; font-size: 14px; font-weight: 500; text-transform: uppercase; letter-spacing: 0; will-change: box-shadow,transform;  outline: 0; cursor: pointer; text-decoration: none; transition: box-shadow .2s cubic-bezier(.4,0,1,1),background-color .2s cubic-bezier(.4,0,.2,1),color .2s cubic-bezier(.4,0,.2,1); box-shadow: 0 2px 2px 0 rgba(0,0,0,.14), 0 3px 1px -2px rgba(0,0,0,.2), 0 1px 5px 0 rgba(0,0,0,.12)" target="_blank">Reset password</a>
            </td>
        </tr>
        <tr>
            <td style="text-align: center; padding: 30px 0 10px; font-size: 12px;">
                <p style="border-top: 1px solid #bbb; border-bottom: 1px solid #bbb; padding: 15px 5px 15px 5px;">
                    <a href="{{ base_url }}/accounts/login" target="_blank" style="color:#03a9f4; text-decoration:none;">Accounts</a>
                    <span style="padding:20px 15px;color:#848484">&bull;</span>
                    <a href="{{ base_url }}/about" target="_blank" style="color:#03a9f4; text-decoration:none;">About Us</a>
                </p>
            </td>
        </tr>
        <tr>
            <td style="color: #535353; font-size: 12px; line-height: 16px; text-align: center;">
                This email has been sent to you by Similar Patient Finder.<br>
                Follow us on <a href="https://github.com/hzxie/SimilarPatientFinder" target="_blank" style="color: #03a9f4; text-decoration: none;">GitHub@SimilarPatientFinder</a>
            </td>
        </tr>
    </tbody>
</table>
</div>